.gallery {
    border-radius: $radius-10;
    margin: auto;
    overflow: hidden;
    width: 335px;
    img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}



// Bootstrap
.carousel-indicators {
    display: none;
}

.carousel-caption {
    padding-bottom: 0;
}

.carousel-item {
    height: 225px;
}