.gallery {
  border-radius: $radius-10;
  margin: auto auto 15px auto;
  overflow: hidden;
  height: 225px;
  @include medium-device-above {
    height: 415px;
  }
  @include x-large-device-above {
    width: 1240px;
    border-radius: $radius-25;
  }
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// Bootstrap
.carousel-indicators {
  display: none;
}

.carousel-caption {
  padding-bottom: 0;
}

.carousel-item {
  height: 225px;
  @include medium-device-above {
    height: 415px;
  }
}
