header {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  @include large-device-above {
    margin-bottom: 60px;
  }
  .logo {
    width: 145px;
    height: 47px;
    @include large-device-above {
      width: 210px;
      height: 68px;
    }
  }

  .navbar {
    ul {
      display: flex;
      li {
        text-transform: uppercase;
        font-size: map-get($font-size, "12");
        color: $color-primary;
        margin-left: 10px;
        @include large-device-above {
          font-size: map-get($font-size, "24");
          text-transform: unset;
          margin-left: 55px;
        }
      }
    }
  }
}
